<section>
  <h1>Contact Us</h1>
  <div class="contact-text-and-contact-form-grid">

    <!-- Contact Text -->
    <div class="contact-text">
      <p>
        Want your dingy grey or green fence to look almost <span>brand new</span>
        without painting or staining?
      </p>
      <p>
        We will make your grey and green fence beautiful again. Cleaning, 
        stripping and staining options available.
      </p>
      <p class="contact-text-emphasis">
        Ask us about cleaning your fence today!
      </p>
      <ul>
        <li>{{ address + ', ' + city + ', ' + state + ' ' + zipcode }}</li>
        <li>
          <svg class="svg-hours-of-operation">
            <use href="#svg-hours-of-operation"></use>
          </svg>
          {{ businessHours }}
        </li>
        <li>
          <svg class="svg-email">
            <use href="#svg-email"></use>
          </svg>
          {{ email }}
        </li>
        <li>{{ phoneNumber }}</li>
      </ul>
    </div>

    <!-- Contact Form -->
    <app-contact-form></app-contact-form>
  </div>
</section>