<section>
  <h1>Let Us <span>RESTORE & SHINE</span> Your Property Today!</h1>
  <div class="grid-form-info-text-wrapper">

    <!-- Contact Text -->
    <div class="contact-text">
      <p>
        Get a <span>Free Estimate</span> for Pressure Washing Services in {{ city }},
        {{ state }}!
      </p>
      <p>
        It's quick & easy to request a Free Estimate. Send us a message using the 
        online form, send us an email, or call us at {{ phoneNumber }}.
      </p>
      <p class="contact-text-emphasis">
        We look forward to speaking with you!
      </p>
    </div>

    <!-- Contact Info -->
    <app-contact-info class="contact-info" *ngIf="windowSize.width >= 768"></app-contact-info>

    <!-- Contact Form -->
    <app-contact-form class="contact-form"></app-contact-form>
  </div>
</section>