<section>
  <h1>Contact Us</h1>
  <div class="contact-text-and-contact-form-grid">

    <!-- Contact Text -->
    <div class="contact-text">
      <p>
        Get a <span>Free Estimate</span> for Pressure Washing Services in {{ city }},
        {{ state }}!
      </p>
      <p>
        It's quick & easy to request a Free Estimate. Send us a message using the 
        online form, send us an email, or call us at {{ phoneNumber }}.
      </p>
      <p class="contact-text-emphasis">
        We look forward to speaking with you!
      </p>
      <ul>
        <li>{{ address + ', ' + city + ', ' + state + ' ' + zipcode }}</li>
        <li>
          <svg class="svg-hours-of-operation">
            <use href="#svg-hours-of-operation"></use>
          </svg>
          {{ businessHours }}
        </li>
        <li>
          <svg class="svg-email">
            <use href="#svg-email"></use>
          </svg>
          {{ email }}
        </li>
        <li>{{ phoneNumber }}</li>
      </ul>
    </div>

    <!-- Contact Form -->
    <app-contact-form></app-contact-form>
  </div>
</section>