$svg-icon-dimensions: calc(1rem + 0.5vw);
$svg-icon-tint: rgba(0, 0, 0, 0.87);
%svg-icon-attributes {
  height: $svg-icon-dimensions;
  margin-right: 0.5rem;
  width: $svg-icon-dimensions;
}

ul {
  list-style-type: none;
  padding: 0 1rem;
  & li {
    align-items: center;
    display: flex;
    margin: calc(0.5rem + 0.5vw) 0;
    & .svg-email {
      fill: $svg-icon-tint;
      @extend %svg-icon-attributes;
    }
    & .svg-hours-of-operation {
      fill: none;
      stroke: $svg-icon-tint;
      @extend %svg-icon-attributes;
    }
    & .svg-phone {
      fill: $svg-icon-tint;
      @extend %svg-icon-attributes;
    }
    & .svg-location-marker {
      fill: $svg-icon-tint;
      @extend %svg-icon-attributes;
    }
  }
}
