<section>
  <ul>
    <li>
      <svg class="svg-phone">
        <use href="#svg-phone"></use>
      </svg>
      {{ phoneNumber }}
    </li>
    <li>
      <svg class="svg-email">
        <use href="#svg-email"></use>
      </svg>
      {{ email }}
    </li>
    <li>
      <svg class="svg-location-marker">
        <use href="#svg-location-marker"></use>
      </svg>
      {{ address + ', ' + city + ', ' + state + ' ' + zipcode }}
    </li>
    <li>
      <svg class="svg-hours-of-operation">
        <use href="#svg-hours-of-operation"></use>
      </svg>
      {{ businessHours }}
    </li>
  </ul>
</section>