$svg-icon-dimensions: calc(1rem + 0.5vw);

ul {
  list-style-type: none;
  & li {
    align-items: center;
    display: flex;
    margin: calc(0.5rem + 0.5vw) 0;
    & .svg-email {
      fill: rgba(0, 0, 0, 0.87);
      height: $svg-icon-dimensions;
      margin-right: 0.5rem;
      width: $svg-icon-dimensions;
    }
    & .svg-hours-of-operation {
      fill: white;
      height: $svg-icon-dimensions;
      margin-right: 0.5rem;
      width: $svg-icon-dimensions;
      stroke: rgba(0, 0, 0, 0.87);
    }
  }
}
