<section>
  <h1>Outdoor Stain Removal in {{ city + ", " + state }}</h1>
  <div class="grid-form-info-text-wrapper">

    <!-- Contact Text -->
    <div class="contact-text">
      <p>
        If your property is covered in rust, we can <span>blast it away</span>
        today!
      </p>
      <p>
        We offer rust and other stain removal from a variety of flat and vertical 
        surfaces.
      </p>
      <p class="contact-text-emphasis">
        Ask us about our outdoor stain and rust removal services!
      </p>
    </div>

    <!-- Contact Info -->
    <app-contact-info class="contact-info"></app-contact-info>

    <!-- Contact Form -->
    <app-contact-form class="contact-form"></app-contact-form>
  </div>
</section>