<section>
  <h1>Outdoor Stain Removal in {{ city + ", " + state }}</h1>
  <div class="contact-text-and-contact-form-grid">

    <!-- Contact Text -->
    <div class="contact-text">
      <p>
        If your property is covered in rust, we can <span>blast it away</span>
        today!
      </p>
      <p>
        We offer rust and other stain removal from a variety of flat and vertical 
        surfaces.
      </p>
      <p class="contact-text-emphasis">
        Ask us about our outdoor stain and rust removal services!
      </p>
      <ul>
        <li>{{ address + ', ' + city + ', ' + state + ' ' + zipcode }}</li>
        <li>
          <svg class="svg-hours-of-operation">
            <use href="#svg-hours-of-operation"></use>
          </svg>
          {{ businessHours }}
        </li>
        <li>
          <svg class="svg-email">
            <use href="#svg-email"></use>
          </svg>
          {{ email }}
        </li>
        <li>{{ phoneNumber }}</li>
      </ul>
    </div>

    <!-- Contact Form -->
    <div class="contact-form-wrapper"></div>
  </div>
</section>