section {
  background-color: #fafafa;
  h2 {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 0;
  }
  & .logo-and-text-grid {
    display: grid;
    grid-auto-rows: minmax(15vh, auto);
    .logo {
      grid-area: logo;
      margin: 0 auto;
      width: 20vw;
    }
    & .text-wrapper {
      font-size: calc(1rem + 0.1vw);
      font-weight: 400;
      grid-area: text;
      line-height: 1.5;
    }
    @media (max-width: 767.98px) {
      grid-template-areas:
      'text';
      grid-template-columns: 1fr;
      & .logo {
        display: none;
        opacity: 0;
      }
    }
    @media (min-width: 768px) {
      grid-template-areas:
        'text logo';
      grid-template-columns: 2fr 1fr;
    }
  }
  @media (max-width: 767.98px) {
    padding: calc(1rem + 1vw);
  }
  @media (min-width: 768px) {
    padding: calc(1rem + 1vw) calc(1rem + 13vw);
  }
}