<section class="services">
  <h1>The Beginning of R & S Pressure Washing</h1>
  <h2>Done Right, The First Time</h2>
  <div class="logo-and-text-grid">
    <img 
      alt="R & S Logo"
      class="logo" 
      src="https://rns-static-and-media-files.s3.amazonaws.com/static/img/R%26S-logo.jpg">
    <div class="text-wrapper">
      <p>
        R & S Pressure Washing came to be while I searched for a new pressure washer 
        for home. The more I read about the different types of pumps and cleaning 
        methods, the more fascinating it became. One day I will retire from active 
        duty and will need a new job. But rather than work for someone else I decided 
        small business ownership is the way to go.
      </p>
      <p>
        In my studying and practical applications I found that the pressure is not 
        really what cleans houses and wood. It just gets the water to where it needs 
        to be more efficiently, whether that be 40’ above ground or 10’ away. I began 
        to learn the chemistry behind cleaning and how acids and bases react with 
        different stains, organic matter, and surfaces. This is when I realized that 
        cleaning residential and commercial building exteriors and flat surfaces is 
        fun and engaging. It is only when using science to properly formulate 
        solutions (diluted chemical compounds) for the different problems (rust, oil 
        stains, mold, UV damage) that said problems can be appropriately addressed, 
        and removed. Surface cleaning compounds the problems because it does require 
        pressure to be cleaned.
      </p>
      <p>
        So what is the correct amount of pressure the surface can take without being 
        damaged? That depends on what the surface is comprised of. Because it varies 
        we have several options to increase and decrease pressure as needed. And at 
        times the safe pressure limit for that surface is not able to remove the 
        harsh stains. So rather than turn up the pressure and potentially damage the 
        surface, we introduce cleaning agents.
      </p>
      <p>
        All that is a longer way to say- I enjoy the chemistry and problem solving 
        required to effectively clean the job site, and when complete the owners are 
        all smiles. I get to deliver good news all day! It’s a great job.
      </p>
    </div>
  </div>
</section>