mat-card {
  border: 1px solid rgba(0, 0, 0, 0.54);
  & mat-card-actions:last-child {
    border: 2px solid transparent;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    padding-top: 0;
    & button.active {
      background-color: #333;
      border: 2px solid #f3d333;
      border-radius: 6px;
      color: #fafafa;
    }
  }
  & mat-card-content {
    column-gap: 1.25rem;
    display: grid;
    grid-auto-rows: minmax(5vh, auto);
    @media (max-width: 1010.98px) {
      grid-template-areas:
        'ffname'
        'ffemal'
        'ffphon'
        'ffaddr'
        'ffnmst'
        'fftpex'
        'svcwrp'
        'fftxta';
      grid-template-columns: 1fr;
    }
    @media (min-width: 1011px) {
      grid-template-areas:
      'ffname svcwrp'
      'ffemal svcwrp'
      'ffphon svcwrp'
      'ffaddr svcwrp'
      'ffnmst svcwrp'
      'fftpex svcwrp'
      'fftxta fftxta';
      grid-template-columns: 1fr 1fr;
    }
    margin-bottom: 0;
  }
  & mat-card-header {
    justify-content: center;
    & mat-card-subtitle {
      text-align: center;
    }
  }
  & mat-form-field {
    width: 100%;
    &.form-field-textarea {
      grid-area: fftxta;
      margin-top: 1rem;
      & textarea {
        min-height: 2rem;
      }
    }
    & .form-field-email { grid-area: ffemal; }
    & .form-field-name { grid-area: ffname; }
    & .form-field-phone { grid-area: ffphon; }
    & .form-field-address { grid-area: ffaddr; }
    & .form-field-number-of-stories { grid-area: ffnmst; }
    & .form-field-type-of-exterior { grid-area: fftpex; }
  }
  & .services-wrapper {
    grid-area: svcwrp;
    & h3 {
      margin-bottom: 0.5rem;
      text-align: center;
    }
    & h4 {
      color: rgba(0, 0, 0, 0.54);
      font-size: 14px;
      font-weight: 400;
      margin-top: 0;
      text-align: center;
    }
    & .services-error-wrapper {
      height: 12px;
      margin-bottom: 1rem;
      overflow: hidden;
      & .services-error {
        font-size: 85%;
        font-weight: 400;
        overflow: hidden;
        position: relative;
        text-align: center;
        top: -1rem;
        &.show-error {
          top: 0;
          transition: 0.15s ease-out;
        }
      }
    }
  }
  & .spacer { grid-area: spacer; }
}