<section>
  <h1>Surface Cleaning in {{ city + ", " + state }}</h1>
  <div class="grid-form-info-text-wrapper">

    <!-- Contact Text -->
    <div class="contact-text">
      <div>
        <p>
          We can clean your walkways, driveways, and sidewalks so that they dry 
          <span>dirt-free!</span>
        </p>
      </div>
      <p>
        Surface cleaning will make your walkway look bright and new again, the 
        correct way leaving no ‘tiger stripes’ when dry.
      </p>
      <p class="contact-text-emphasis">
        Ask us about cleaning your walkways, driveways, and sidewalks today!
      </p>
    </div>

    <!-- Contact Info -->
    <div class="contact-info">
      <ul>
        <li>{{ address + ', ' + city + ', ' + state + ' ' + zipcode }}</li>
        <li>
          <svg class="svg-hours-of-operation">
            <use href="#svg-hours-of-operation"></use>
          </svg>
          {{ businessHours }}
        </li>
        <li>
          <svg class="svg-email">
            <use href="#svg-email"></use>
          </svg>
          {{ email }}
        </li>
        <li>{{ phoneNumber }}</li>
      </ul>
    </div>

    <!-- Contact Form -->
    <app-contact-form class="contact-form"></app-contact-form>
  </div>
</section>