<section class="footer">

  <!-- Footer Text -->
  <div class="footer-text">
    <h2>R & S PRESSURE WASHING</h2>
    <p>
      Call us today for a <span>Free Estimate!</span>
    </p>
    <app-contact-info></app-contact-info>
  </div>

  <!-- Google Map -->
  <div class="footer-google-map">google map</div>

  <!-- SVG Ad Icons -->
  <div class="svg-ad-icons">ad icons</div>

  <!-- Copyright -->
  <div class="copyright">copyright</div>

  <!-- Return To Top Button -->
  <div class="button-return-to-top">button return to top</div>

  <!-- reCaptcha Disclaimer -->
  <div class="recaptcha-disclaimer">recaptcha disclaimer</div>

</section>