$off-white: rgba(255, 255, 255, 0.87);
$svg-icon-dimensions: calc(1rem + 0.5vw);
%flex-box-column-centered {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
%svg-icon-attributes {
  height: $svg-icon-dimensions;
  margin-right: 0.5rem;
  width: $svg-icon-dimensions;
}

section.footer {
  background-color: rgba(0, 0, 0, 0.75);
  display: grid;
  grid-auto-rows: minmax(0, auto);
  min-height: 25vh;
  & .text-wrapper {
    color: $off-white;
    grid-area: txtwr;
    padding: 0.5rem;
    @extend %flex-box-column-centered;
    & h2 {
      margin-top: 0;
    }
    & p {
      font-size: 1.25rem;
      & span {
        font-weight: 500;
      }
    }
  }
  & .google-map-wrapper {
    grid-area: googm;
    padding: 0.5rem;
    & iframe {
      border: 0;
      height: 100%;
      width: 100%;
    }
  }
  & .svg-ad-icons {
    grid-area: svgad;
    padding: 0.5rem;
    @extend %flex-box-column-centered;
    & .svg-google {
      height: calc(3.5rem + 2.5vw);
      margin: 1rem;
    }
    & .svg-facebook {
      height: calc(3rem + 2.5vw);
      margin: 1rem;
    }
  }
  & .recaptcha-disclaimer {
    color: $off-white;
    font-size: 0.85rem;
    grid-area: cpyrt;
    padding: 0.5rem;
    @extend %flex-box-column-centered;
    & a {
      color: #f3d333;
      text-decoration: none;
    }
  }
  & .copyright {
    color: $off-white;
    grid-area: cpyrt;
    padding: 0.5rem;
    @extend %flex-box-column-centered;
  }
  & .button-return-to-top {
    grid-area: btnrt;
    padding: 0.5rem;
    @extend %flex-box-column-centered;
    & button {
      background-color: transparent;
      border: 2px solid #f3d333;
      & i {
        color: #f3d333;
        font-size: 2rem;
        line-height: 0;
      }
      &:hover {
        background-color: #f3d333;
        & i {
          color: rgba(0, 0, 0, 0.75);
        }
      }
    }
  }
  & .recaptcha-disclaimer {
    grid-area: rcapt;
    @extend %flex-box-column-centered;
  }
  @media (max-width: 767.98px) {
    grid-template-areas:
    'txtwr'
    'svgad'
    'googm'
    'rcapt'
    'cpyrt' 
    'btnrt';
    grid-template-columns: 1fr;
  }
  @media (min-width: 768px) and (max-width: 999.98px) {
    grid-template-areas:
    'txtwr googm'
    'rcapt svgad'
    'cpyrt btnrt';
    grid-template-columns: 1fr 1fr;
    padding: 2rem 1rem;
  }
  @media (min-width: 1000px) {
    grid-template-areas:
    'txtwr googm svgad'
    'spacr spacr spacr'
    'rcapt cpyrt btnrt';
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem 1rem;
  }
}

.spacer {
  grid-area: spacr;
  height: 3vh;
}

::ng-deep section.footer {
  & li {
    color: $off-white;
    & .svg-email {
      fill: $off-white !important;
      @extend %svg-icon-attributes;
    }
    & .svg-hours-of-operation {
      fill: none;
      stroke: $off-white !important;
      @extend %svg-icon-attributes;
    }
    & .svg-phone {
      fill: $off-white !important;
      @extend %svg-icon-attributes;
    }
    & .svg-location-marker {
      fill: $off-white !important;
      @extend %svg-icon-attributes;
    }
  }
  & .button-return-to-top .mat-button-wrapper {
    padding: 0;
    line-height: 0;
  }
}