<section>
  <h1>Fence Cleaning in {{ city + ", " + state }}</h1>
  <div class="contact-text-and-contact-form-grid">

    <!-- Contact Text -->
    <div class="contact-text">
      <p>
        If you're looking for <span>fast and affordable</span> deck cleaning & 
        restoration, look no further!
      </p>
      <p>
        We can wash off the mold, mildew, and dirt that has built up over time. 
        Cleaning, stripping, and staining options available.
      </p>
      <p class="contact-text-emphasis">
        Ask us about cleaning and restoring your deck today!
      </p>
      <ul>
        <li>{{ address + ', ' + city + ', ' + state + ' ' + zipcode }}</li>
        <li>
          <svg class="svg-hours-of-operation">
            <use href="#svg-hours-of-operation"></use>
          </svg>
          {{ businessHours }}
        </li>
        <li>
          <svg class="svg-email">
            <use href="#svg-email"></use>
          </svg>
          {{ email }}
        </li>
        <li>{{ phoneNumber }}</li>
      </ul>
    </div>

    <!-- Contact Form -->
    <div class="contact-form-wrapper"></div>
  </div>
</section>