<section>
  <h1>Deck Cleaning & Restoration in {{ city + ", " + state }}</h1>
  <div class="grid-form-info-text-wrapper">

    <!-- Contact Text -->
    <div class="contact-text">
      <p>
        If you're looking for <span>fast and affordable</span> deck cleaning & 
        restoration, look no further!
      </p>
      <p>
        We can wash off the mold, mildew, and dirt that has built up over time. 
        Cleaning, stripping, and staining options available.
      </p>
      <p class="contact-text-emphasis">
        Ask us about cleaning and restoring your deck today!
      </p>
    </div>

    <!-- Contact Info -->
    <app-contact-info class="contact-info" *ngIf="windowSize?.width >= 768"></app-contact-info>

    <!-- Contact Form -->
    <app-contact-form class="contact-form"></app-contact-form>
  </div>
</section>