img {
  object-fit: cover;
  width: 10vw;
  &:nth-child(2) {
    margin-right: 1rem;
  }
  @media (max-width: 767.98px) {
    height: 100%;
    width: 100%;
  }
  @media (min-width: 768px) {
    height: 100%;
    width: 35vw;
  }
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  & .svg-icon-cancel {
    fill: none;
    stroke: #999;
    stroke-width: 0.75rem;
    height: 1.25rem;
    width: 1.25rem;
    &:hover {
      cursor: pointer;
    }
  }
}

::ng-deep {
  & .cdk-overlay-pane {
    overflow-y: scroll;
  }
}