$mat-card-transition: 0.25s ease-in-out;
$off-white: rgba(255, 255, 255, 0.87);
$svg-icon-dimensions: calc(1rem + 0.5vw);
%svg-icon-attributes {
  height: $svg-icon-dimensions;
  margin-right: 0.5rem;
  width: $svg-icon-dimensions;
}


.landing-page-spacer {
  height: calc(100vh - 128px);
  @media (max-width: 598.98px) {
    height: calc(100vh - 114px + 3px);
  }
}

mat-toolbar {
  background-color: rgba(0, 0, 0, 0.87);
  color: white;
  display: flex;
  justify-content: space-around;
  & .italic {
    font-size: 1rem;
    font-style: italic;
  }
  @media (max-width: 359.98px) {
    font-size: 0.75rem;
  }
  @media (min-width: 360px) and (max-width: 599.98px) {
    font-size: 0.95rem;
  }
  @media (min-width: 600px) {
    font-size: 1.15rem;
  }
}

.section-contact-form {
  background-color: #fafafa;
  padding: 1rem;
}

.section-landing-page {
  display: flex;
  justify-content: flex-end;
  @media (max-width: 599.98px) {
    min-height: calc(100vh - 56px - 56px);
  }
  @media (min-width: 600px) and (max-width: 767.98px) {
    min-height: calc(100vh - 64px - 64px);
  }
  @media (min-width: 768px) {
    min-height: calc(100vh - 64px);
  }
  & app-contact-form-stepper {
    margin-right: 2rem;
    position: relative;
    top: calc(2 * 64px);
    width: 35vw;
  }
  & .mobile-landing-page-text {
    background-color: rgba(0, 0, 0, 0.87);
    color: #fafafa;
    height: max-content;
    margin-top: calc(56px + 15vh);
    padding-top: 0.5rem;
    width: 100%;
    & h1 {
      color: #f3d333;
      font-family: 'Stencil';
      margin: 0;
      text-align: center;
    }
    & h2 {
      color: #fafafa;
      font-size: 1rem;
      margin: 0;
      text-align: center;
    }
    & p {
      padding-left: 1rem;
    }
    ::ng-deep li {
      color: $off-white;
      & .svg-email {
        fill: $off-white !important;
        @extend %svg-icon-attributes;
      }
      & .svg-hours-of-operation {
        fill: none;
        stroke: $off-white !important;
        @extend %svg-icon-attributes;
      }
      & .svg-phone {
        fill: $off-white !important;
        @extend %svg-icon-attributes;
      }
      & .svg-location-marker {
        fill: $off-white !important;
        @extend %svg-icon-attributes;
      }
    }
  }
}

.section-services {
  background-color: #fafafa;
  padding: 1rem;
}