.landing-page-spacer {
  height: calc(100vh - 128px);
}

mat-card {
  height: 150px;
  width: 150px;
}

mat-toolbar {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  display: flex;
  font-style: italic;
  font-size: 1.15rem;
  justify-content: center;
}

section.services {
  background-color: white;
}

@media (min-width: 0px) {
  .card-background-fence-cleaning.show-image {
    background-image:                   url('https://rns-static-and-media-files.s3.amazonaws.com/static/img/fence-cleaning-01/140kb/1x-fence-cleaning-01-320.jpg');
    background-image: -webkit-image-set(url('https://rns-static-and-media-files.s3.amazonaws.com/static/img/fence-cleaning-01/140kb/1x-fence-cleaning-01-320.webp') 1x, url('https://rns-static-and-media-files.s3.amazonaws.com/static/img/fence-cleaning-01/140kb/2x-fence-cleaning-01-320.webp') 2x);  
    background-image:         image-set(url('https://rns-static-and-media-files.s3.amazonaws.com/static/img/fence-cleaning-01/140kb/1x-fence-cleaning-01-320.jpg') 1x, url('https://rns-static-and-media-files.s3.amazonaws.com/static/img/fence-cleaning-01/140kb/2x-fence-cleaning-01-320.jpg') 2x);
  }
}

@media (min-width: 576px) {
  .card-background-fence-cleaning.show-image {
    background-image:                   url('https://rns-static-and-media-files.s3.amazonaws.com/static/img/fence-cleaning-01/140kb/1x-fence-cleaning-01-576.jpg');
    background-image: -webkit-image-set(url('https://rns-static-and-media-files.s3.amazonaws.com/static/img/fence-cleaning-01/140kb/1x-fence-cleaning-01-576.webp') 1x, url('https://rns-static-and-media-files.s3.amazonaws.com/static/img/fence-cleaning-01/140kb/2x-fence-cleaning-01-576.webp') 2x);  
    background-image:         image-set(url('https://rns-static-and-media-files.s3.amazonaws.com/static/img/fence-cleaning-01/140kb/1x-fence-cleaning-01-576.jpg') 1x, url('https://rns-static-and-media-files.s3.amazonaws.com/static/img/fence-cleaning-01/140kb/2x-fence-cleaning-01-576.jpg') 2x);
  }
}

@media (min-width: 768px) {
  .card-background-fence-cleaning.show-image {
    background-image:                   url('https://rns-static-and-media-files.s3.amazonaws.com/static/img/fence-cleaning-01/140kb/1x-fence-cleaning-01-768.jpg');
    background-image: -webkit-image-set(url('https://rns-static-and-media-files.s3.amazonaws.com/static/img/fence-cleaning-01/140kb/1x-fence-cleaning-01-768.webp') 1x, url('https://rns-static-and-media-files.s3.amazonaws.com/static/img/fence-cleaning-01/140kb/2x-fence-cleaning-01-768.webp') 2x);  
    background-image:         image-set(url('https://rns-static-and-media-files.s3.amazonaws.com/static/img/fence-cleaning-01/140kb/1x-fence-cleaning-01-768.jpg') 1x, url('https://rns-static-and-media-files.s3.amazonaws.com/static/img/fence-cleaning-01/140kb/2x-fence-cleaning-01-768.jpg') 2x);
  }
}