<!-- Landing Page -->
<section>
  <div class="landing-page-spacer"></div>
  <mat-toolbar>
    Pressure Washing Services in Sneads Ferry, NC
  </mat-toolbar>
</section>
  
<!-- Services -->
<section class="services">
  <mat-card>
    <mat-card-content class="card-background-fence-cleaning show-image"></mat-card-content>
    <mat-card-actions>
      <h2>Fence Cleaning</h2>
      <div class="learn-more-wrapper">
        Learn More
        <svg class="svg-right-arrow">
          <use href="#svg-right-arrow"></use>
        </svg>
      </div>
    </mat-card-actions>
  </mat-card>
</section>