<mat-horizontal-stepper [linear]="isLinear" #stepper class="dark-theme">

  <!-- Step 1 -->
  <mat-step [stepControl]="formGroupStep1">
    <form [formGroup]="formGroupStep1">
      <ng-template matStepLabel>Information</ng-template>

      <!-- Name -->
      <mat-form-field class="form-field-name">
        <mat-label>Name *</mat-label>
        <input formControlName="name" matInput type="text">
        <mat-error *ngIf="name.errors?.required">Please enter your name</mat-error>
      </mat-form-field>

      <!-- Email -->
      <mat-form-field class="form-field-email">
        <mat-label>Email *</mat-label>
        <input formControlName="email" matInput type="text">
        <mat-error *ngIf="email.errors?.required">Please enter an email address</mat-error>
        <mat-error *ngIf="email.errors?.email">Please enter a valid email address</mat-error>
      </mat-form-field>

      <!-- Phone -->
      <mat-form-field class="form-field-phone">
        <mat-label>Phone</mat-label>
        <input formControlName="phone" matInput type="tel">
        <mat-error *ngIf="phone.errors?.required">Please enter your phone number</mat-error>
      </mat-form-field>

      <!-- Number of Stories -->
      <mat-form-field appearance="fill" class="form-field-number-of-stories">
        <mat-label>Number of stories *</mat-label>
        <mat-select formControlName="numberOfStories" >
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="4">4+</mat-option>
        </mat-select>
        <mat-error *ngIf="numberOfStories.errors?.required">Please enter the number of stories</mat-error>
      </mat-form-field>

      <!-- Type of Exterior -->
      <mat-form-field appearance="fill" class="form-field-type-of-exterior">
        <mat-label>Type of exterior *</mat-label>
        <mat-select formControlName="typeOfExterior">
          <mat-option value="Vinyl">Vinyl</mat-option>
          <mat-option value="Wood">Wood</mat-option>
          <mat-option value="Brick">Brick</mat-option>
          <mat-option value="Aluminum">Aluminum</mat-option>
          <mat-option value="Other">Other</mat-option>
        </mat-select>
        <mat-error *ngIf="typeOfExterior.errors?.required">Please enter the type of exterior</mat-error>
      </mat-form-field>

      <!-- Approx. Square Footage -->
      <mat-form-field appearance="fill" class="form-field-sq-ft-select">
        <mat-label>Approx. square footage</mat-label>
        <mat-select formControlName="sqft">
          <mat-option value="< 1000">< 1000</mat-option>
          <mat-option value="1000 - 1500">1000 - 1500</mat-option>
          <mat-option value="1500 - 2000">1500 - 2000</mat-option>
          <mat-option value="2000 - 2500">2000 - 2500</mat-option>
          <mat-option value="2500 - 3000">2500 - 3000</mat-option>
          <mat-option value="3000 - 3000">3000 - 3500</mat-option>
          <mat-option value="3000+">3500+</mat-option>
        </mat-select>
        <mat-error *ngIf="sqft.errors?.required">Please enter the type of exterior</mat-error>
      </mat-form-field>

      <!-- Buttons -->
      <div class="button-wrapper-step-1">
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- Step 2 -->
  <mat-step [stepControl]="formGroupStep2">
    <form [formGroup]="formGroupStep2" (submit)="onSubmit()">
      <ng-template matStepLabel>Services</ng-template>

      <!-- Services -->
      <div class="services-wrapper">
        <ng-container>
          <mat-selection-list formControlName="services" (selectionChange)="onClickService()">
            <mat-list-option value="Fence Cleaning">Fence Cleaning</mat-list-option>
            <mat-list-option value="Surface Cleaning">Surface Cleaning</mat-list-option>
            <mat-list-option value="Soft Wash">Soft Wash</mat-list-option>
            <mat-list-option value="Stain Removal">Stain Removal</mat-list-option>
            <mat-list-option value="Deck Cleaning">Deck Cleaning</mat-list-option>
          </mat-selection-list>
          <div class="services-error-wrapper">
            <mat-error 
              [ngClass]="{ 
                'services-error': true,
                'show-error': servicesFormControlError.value?.noSelectedService ? true : false
              }">
              Please select at least one service
            </mat-error>
          </div>
        </ng-container>
      </div>

      <!-- Message -->
      <mat-form-field appearance="outline" class="textarea-form-field">
        <mat-label>Send us a message</mat-label>
        <textarea formControlName="message" matInput></textarea>
        <mat-error *ngIf="message.errors?.required">Please enter a message</mat-error>
      </mat-form-field>

      <!-- Buttons -->
      <div class="buttons-wrapper-step-2">
        <button mat-button matStepperPrevious type="button">Back</button>
        <button mat-button type="submit">Submit</button>
      </div>
    </form>
  </mat-step>

</mat-horizontal-stepper>