mat-form-field {
  display: block;
}

mat-horizontal-stepper {
  background-color: rgba(0, 0, 0, 0.87);
  border-radius: 0.35rem;
  color: #fafafa;
  font-size: 0.85rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
}