mat-form-field {
  display: block;
}

mat-horizontal-stepper {
  background-color: rgba(0, 0, 0, 0.93);
  border-radius: 0.35rem;
  color: #fafafa;
  font-size: 0.85rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
  & .button-wrapper-step-1 {
    display: flex;
    justify-content: flex-end;
  }
  & .buttons-wrapper-step-2 {
    display: flex;
    justify-content: space-between;
  }
}

// ::ng-deep {
//   .mat-step-header .mat-step-label.mat-step-label-active {
//     color: #fafafa;
//   }
// }