<svg xmlns="http://www.w3.org/2000/svg">

  <!-- Right Arrow -->
  <symbol id="svg-right-arrow" viewBox="0 0 100 100">
    <g transform="translate(-2183 -496)">
      <circle cx="50" cy="50" r="50" stroke="none" transform="translate(2183 496)"/>
      <g transform="translate(2206.203 522.471)">
        <line x2="23.529" y2="23.529" transform="translate(30.719)" stroke-linecap="round" stroke-width="12"/>
        <line y1="23.529" x2="23.529" transform="translate(30.719 23.529)" stroke-linecap="round" stroke-width="12"/>
        <line x1="52.288" transform="translate(0 23.529)" stroke-linecap="round" stroke-width="12"/>
      </g>
    </g>
  </symbol>

  <!-- Email -->
  <symbol id="svg-email" viewBox="0 0 100 100">
    <path d="M50,100A50.013,50.013,0,0,1,30.538,3.929,50.013,50.013,0,0,1,69.462,96.071,49.686,49.686,0,0,1,50,100ZM13,29V72H87V29ZM74.674,66H25.518L42.639,54.012l7.024,4.918L50,58.448l.337.482,7.119-4.985L74.671,66ZM19,63.239V37.459l18.409,12.89L19,63.238ZM81,63.1h0L62.687,50.282,81,37.459V63.1ZM50,51.841h0L25.95,35h48.1L50,51.841Z"/>
  </symbol>
  
  <!-- Hours of Operation -->
  <symbol id="svg-hours-of-operation" viewBox="0 0 100 100">
    <g transform="translate(-1805 -326)">
      <g transform="translate(1805 326)" stroke-width="10">
        <circle cx="50" cy="50" r="45"/>
      </g>
      <g transform="translate(1854.346 343.5)">
        <line y2="25" transform="translate(0 8)" stroke-linecap="round" stroke-width="10"/>
        <line x1="20.654" y1="8" transform="translate(0.5 33)" stroke-linecap="round" stroke-width="10"/>
      </g>
    </g>
  </symbol>
  

</svg>