h1 {
  margin-top: 0;
  text-align: center;
}

.wrapper-pictures {
  & img {
    height: 15vw;
    object-fit: cover;
    width: 20vw;
  }
}

section {
  background-color: #fafafa;
  padding: calc(1rem + 1vw);
}