%before-and-after-styling {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  border-left: 2px solid rgba(243, 211, 51, 1);
  color: white;
  display: flex;
  font-size: calc(0.5rem + 0.25vw);
  font-weight: 400;
  height: 1.25rem;
  padding: 0 calc(0.2rem + 0.2vw);
  position: absolute;
  bottom: calc(0.25rem + 0.25vw);
  z-index: 1;
}

section {
  background-color: #fafafa;
  padding: calc(1rem + 1vw);
  & mat-toolbar {
    background-color: #333;
    border-left: 10px solid rgba(243, 211, 51, 1);
    color: #fafafa;
    font-size: 1.75rem;
    margin: 1rem 0 3rem 0;
  }
  & .category-images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    & button {
      margin-bottom: 2rem;
      padding: 0;
      &.before-and-after-button::after {
        content: 'After';
        left: calc(20vw + 0.75rem + 0.25rem + 0.25vw);
        @extend %before-and-after-styling;
      }
      &.before-and-after-button::before {
        content: 'Before';
        left: calc(0.25rem + 0.25vw);
        @extend %before-and-after-styling
      }
      & img {
        object-fit: cover;
        &:nth-child(2) {
          margin-left: 0.75rem;
        }
        @media (max-width: 767.98px) {
          height: 30vw;
          width: 40vw;
        }
        @media (min-width: 768px) {
          height: 15vw;
          width: 20vw;
        }
      }
    }
  }
}