<app-svg-sprite-sheet></app-svg-sprite-sheet>

<mat-sidenav-container (backdropClick)="close()" >

  <!-- Sidenav -->
  <mat-sidenav #sidenav>
    <a routerLink="/home">Home</a><br>
    <a routerLink="/about">About</a>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <div [ngClass]="{ 
      'background-image': true, 
      'blurred-image': true,
      'hide-image': fadeInBackgroundImage
    }"></div>
    <div [ngClass]="{ 
      'background-image': true, 
      'final-image': true,
      'show-image': fadeInBackgroundImage
    }"></div>
    <app-nav-toolbar></app-nav-toolbar>
    <div class="nav-toolbar-spacer"></div>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>

</mat-sidenav-container>
