<app-svg-sprite-sheet></app-svg-sprite-sheet>

<mat-sidenav-container (backdropClick)="close()">

  <!-- Sidenav -->
  <mat-sidenav #sidenav tabindex="0">
    <mat-list role="list" (click)="onClickNavLink()">
      <mat-list-item role="listitem">
        <button 
          mat-button 
          type="button" 
          routerLinkActive="active-route" 
          routerLink="/" 
          [routerLinkActiveOptions]="{ exact: true }">
          Home
        </button>
      </mat-list-item>
      <mat-list-item role="listitem">
        <button mat-button type="button" routerLinkActive="active-route" routerLink="/about">About</button>
      </mat-list-item>
      <mat-list-item role="listitem">
        <button mat-button type="button" routerLinkActive="active-route" routerLink="/services">Services</button>
      </mat-list-item>
      <mat-list-item role="listitem">
        <button mat-button type="button" routerLinkActive="active-route" routerLink="/our-work">Our Work</button>
      </mat-list-item>
      <mat-list-item role="listitem">
        <button mat-button type="button" routerLinkActive="active-route" routerLink="/contact">Contact</button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <div [ngClass]="{ 
      'background-image': true, 
      'blurred-image': true,
      'hide-image': fadeInBackgroundImage
    }"></div>
    <div [ngClass]="{ 
      'background-image': true, 
      'final-image': true,
      'show-image': fadeInBackgroundImage
    }"></div>
    <app-nav-toolbar (openDrawer)="open($event)"></app-nav-toolbar>
    <div class="nav-toolbar-spacer"></div>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>

</mat-sidenav-container>