<section>
  <h1>Soft Wash Services in {{ city + ", " + state }}</h1>
  <div class="grid-form-info-text-wrapper">

    <!-- Contact Text -->
    <div class="contact-text">
      <div>
        <p>
          Let us <span>safely and effectively</span> clean your home and increase 
          your property's curb appeal!
        </p>
      </div>
      <p>
        We offer a safe soft wash for your home which kills and removes the mold, 
        algae and mildew.
      </p>
      <p class="contact-text-emphasis">
        Ask us about our soft wash services today!
      </p>
    </div>

    <!-- Contact Info -->
    <div class="contact-info">
      <ul>
        <li>{{ address + ', ' + city + ', ' + state + ' ' + zipcode }}</li>
        <li>
          <svg class="svg-hours-of-operation">
            <use href="#svg-hours-of-operation"></use>
          </svg>
          {{ businessHours }}
        </li>
        <li>
          <svg class="svg-email">
            <use href="#svg-email"></use>
          </svg>
          {{ email }}
        </li>
        <li>{{ phoneNumber }}</li>
      </ul>
    </div>

    <!-- Contact Form -->
    <app-contact-form class="contact-form"></app-contact-form>
  </div>
</section>