<div class="service-cards-wrapper">
  
  <!-- Fence Cleaning -->
  <mat-card>
    <mat-card-content>
      <div class="card-background-fence-cleaning show-image"></div>
    </mat-card-content>
    <mat-card-actions>
      <h2>Fence Cleaning</h2>
      <div class="learn-more-wrapper">
        Learn More
        <svg class="svg-right-arrow">
          <use href="#svg-right-arrow"></use>
        </svg>
      </div>
    </mat-card-actions>
  </mat-card>
  
  <!-- Surface Cleaning -->
  <mat-card>
    <mat-card-content>
      <div class="card-background-surface-cleaning show-image"></div>
    </mat-card-content>
    <mat-card-actions>
      <h2>Surface Cleaning</h2>
      <div class="learn-more-wrapper">
        Learn More
        <svg class="svg-right-arrow">
          <use href="#svg-right-arrow"></use>
        </svg>
      </div>
    </mat-card-actions>
  </mat-card>

</div>