<div class="service-cards-wrapper">
  
  <!-- Fence Cleaning -->
  <mat-card>
    <mat-card-content>
      <div class="card-background-fence-cleaning show-image"></div>
    </mat-card-content>
    <mat-card-actions>
      <h2>Fence Cleaning</h2>
      <div class="learn-more-wrapper">
        Learn More
        <svg class="svg-right-arrow">
          <use href="#svg-right-arrow"></use>
        </svg>
      </div>
    </mat-card-actions>
  </mat-card>
  
  <!-- Surface Cleaning -->
  <mat-card>
    <mat-card-content>
      <div class="card-background-surface-cleaning show-image"></div>
    </mat-card-content>
    <mat-card-actions>
      <h2>Surface Cleaning</h2>
      <div class="learn-more-wrapper">
        Learn More
        <svg class="svg-right-arrow">
          <use href="#svg-right-arrow"></use>
        </svg>
      </div>
    </mat-card-actions>
  </mat-card>

  <!-- Soft Wash -->
  <mat-card>
    <mat-card-content>
      <div class="card-background-soft-wash show-image"></div>
    </mat-card-content>
    <mat-card-actions>
      <h2>Soft Wash</h2>
      <div class="learn-more-wrapper">
        Learn More
        <svg class="svg-right-arrow">
          <use href="#svg-right-arrow"></use>
        </svg>
      </div>
    </mat-card-actions>
  </mat-card>

  <!-- Outdoor Stain Removal -->
  <mat-card>
    <mat-card-content>
      <div class="card-background-outdoor-stain-removal show-image"></div>
    </mat-card-content>
    <mat-card-actions>
      <h2>Outdoor Stain Removal</h2>
      <div class="learn-more-wrapper">
        Learn More
        <svg class="svg-right-arrow">
          <use href="#svg-right-arrow"></use>
        </svg>
      </div>
    </mat-card-actions>
  </mat-card>

  <!-- Deck Cleaning & Restoration -->
  <mat-card>
    <mat-card-content>
      <div class="card-background-deck-cleaning-and-restoration show-image"></div>
    </mat-card-content>
    <mat-card-actions>
      <h2>Deck Cleaning & Restoration</h2>
      <div class="learn-more-wrapper">
        Learn More
        <svg class="svg-right-arrow">
          <use href="#svg-right-arrow"></use>
        </svg>
      </div>
    </mat-card-actions>
  </mat-card>

</div>