<nav>
  <mat-toolbar>
    <button 
      mat-button 
      type="button" 
      routerLinkActive="active-route" 
      routerLink="/" 
      [routerLinkActiveOptions]="{ exact: true }">
      Home
    </button>
    <button mat-button type="button" routerLinkActive="active-route" routerLink="/about">About</button>
    <button mat-button type="button" routerLinkActive="active-route" routerLink="/services">Services</button>
    <button mat-button type="button" routerLinkActive="active-route" routerLink="/our-work">Our Work</button>
    <button mat-button type="button" routerLinkActive="active-route" routerLink="/contact">Contact</button>
  </mat-toolbar>
</nav>