<nav>

  <!-- Logo -->
  <div [ngClass]="{
    'expanded': pageOffset.pageYOffset === 0,
    'rns-logo': true
  }">
  </div>

  <!-- Nav Toolbar -->
  <mat-toolbar [ngClass]="{ 'expanded': pageOffset.pageYOffset === 0 }">
    <div class="nav-buttons" *ngIf="windowSize.width >= 768px">

      <!-- Phone Number Text -->
      <span class="phone-number-text" *ngIf="windowSize.width >= 870px">
        <svg class="svg-phone">
          <use href="#svg-phone"></use>
        </svg>
        {{ phoneNumber }}
      </span>

      <!-- Nav Buttons -->
      <button 
        mat-button 
        type="button" 
        routerLinkActive="active-route" 
        routerLink="/" 
        [routerLinkActiveOptions]="{ exact: true }">
        Home
      </button>
      <button 
        mat-button 
        routerLinkActive="active-route" 
        routerLink="/about"
        type="button">
        About
      </button>
      <button 
        mat-button 
        routerLinkActive="active-route"
        routerLink="/services"
        type="button">
        Services
      </button>
      <button 
        mat-button    
        routerLinkActive="active-route" 
        routerLink="/our-work"
        type="button">
        Our Work
      </button>
      <button 
        mat-button 
        routerLinkActive="active-route" 
        routerLink="/contact"
        type="button">
        Contact
      </button>
    </div>

    <!-- Hamburger Icon -->
    <button 
      class="hamburger-icon" 
      tabindex="0"
      type="button"
      (click)="onHamburgerClick()" 
      *ngIf="windowSize.width < 768px">
      <svg class="svg-hamburger">
        <use href="#svg-hamburger"></use>
      </svg>
    </button>
  </mat-toolbar>

  <!-- Free Estimate Button -->
  <!-- <button 
    class="button-free-estimate" 
    mat-raised-button 
    routerLink="/contact"
    type="button">
    Get A Free Estimate!
  </button> -->

</nav>