$button-transition: all 0.2s ease-in;
$mat-toolbar-transition: all 0.2s ease-in;
$rns-logo-transition: all 0.2s ease-in;
$nav-logo-dimensions: 8rem;
$nav-logo-dimensions-mobile: 5rem;
$nav-logo-dimensions-expanded: 12rem;
$svg-icon-dimensions: calc(1rem + 0.5vw);
$url: 'https://rns-static-and-media-files.s3.amazonaws.com/static/img/rns-logo-01/340kb/';

nav {
  position: fixed;
  width: 100%;
  z-index: 2;
  // & .button-free-estimate {
  //   background-color: #333;
  //   border: 2px solid #f3d333;
  //   color: #fafafa;
  //   margin-left: 87vw;
  //   margin-top: 1rem;
  // }
  & mat-toolbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
    transition: $mat-toolbar-transition;
    & .nav-buttons {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      & button {
        border-bottom: 2px solid transparent;
        border-radius: 4px 4px 0 0;
        color: white;
        font-size: 0.85rem;
        transition: $button-transition;
        &.active-route {
          border-bottom: 2px solid #f3d333;
        }
        &:hover {
          border-bottom: 2px solid #f3d333;
          color: #f3d333;
          transition: $button-transition;
        }
      }
      & .phone-number-text {
        align-items: center;
        display: flex;
        font-size: 1rem;
        margin-right: 4vw;
        transition: $mat-toolbar-transition;
        & .svg-phone {
          fill: #fafafa;
          height: $svg-icon-dimensions;
          margin: 0 0.5rem;
          width: $svg-icon-dimensions;
        }
      }
    }
    & .hamburger-icon {
      background-color: #333;
      border: none;
      & .svg-hamburger {
        border: none;
        height: 1rem;
        stroke: #fafafa;
        stroke-width: 6px;
        padding: 0.5rem;
        width: 1rem;
        transition: $mat-toolbar-transition;
        &:hover {
          cursor: pointer;
          stroke: #f3d333;
          transition: $mat-toolbar-transition;
        }
      }
    }
    @media (min-width: 768px) {
      &.expanded {
        height: calc(64px + 1rem);
        transition: $mat-toolbar-transition;
        & .nav-buttons {
          & button { font-size: 1rem; }
          & .phone-number-text { font-size: 1.25rem; }
        }
      }
    }
  }
  & .rns-logo {
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    transition: $rns-logo-transition;
    @media (max-width: 767.98px) {
      background-size: auto $nav-logo-dimensions-mobile;
      height: $nav-logo-dimensions-mobile;
      top: 0.5rem;
      width: $nav-logo-dimensions-mobile;
    }
    @media (min-width: 768px) {
      background-size: auto $nav-logo-dimensions;
      height: $nav-logo-dimensions;
      top: 1rem;
      width: $nav-logo-dimensions;
      &.expanded {
        background-size: auto $nav-logo-dimensions-expanded;
        height: $nav-logo-dimensions-expanded;
        transition: $rns-logo-transition;
        width: $nav-logo-dimensions-expanded;
      }
    }
    @media (min-width: 0px) {
      background-image:                   url($url + '1x-rns-logo-01-160.png');
      background-image: -webkit-image-set(url($url + '1x-rns-logo-01-160.webp') 1x, url($url + '2x-rns-logo-01-160.webp') 2x);  
      background-image:         image-set(url($url + '1x-rns-logo-01-160.png') 1x, url($url + '2x-rns-logo-01-160.png') 2x);
    }
    @media (min-width: 320px) {
      background-image:                   url($url + '1x-rns-logo-01-160.png');
      background-image: -webkit-image-set(url($url + '1x-rns-logo-01-160.webp') 1x, url($url + '2x-rns-logo-01-160.webp') 2x);  
      background-image:         image-set(url($url + '1x-rns-logo-01-160.png') 1x, url($url + '2x-rns-logo-01-160.png') 2x);
    }
    @media (min-width: 576px) {
      background-image:                   url($url + '1x-rns-logo-01-160.png');
      background-image: -webkit-image-set(url($url + '1x-rns-logo-01-160.webp') 1x, url($url + '2x-rns-logo-01-160.webp') 2x);  
      background-image:         image-set(url($url + '1x-rns-logo-01-160.png') 1x, url($url + '2x-rns-logo-01-160.png') 2x);
    }
  }
}