/* You can add global styles to this file, and also import other style files */

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

section {
  box-sizing: border-box;
}

h1 {
  color: #333;
  margin-top: 3rem;
  text-align: center;
}