/* You can add global styles to this file, and also import other style files */

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

section {
  box-sizing: border-box;
}

h1 {
  color: #333;
  text-align: center;
  & span {
    color: #f3d333;
    font-family: 'Stencil';
  }
  @media (max-width: 767.98px) {
    margin: 6rem 0 1rem 0;
  }
  @media (min-width: 768px) {
    margin: 6rem 0;
  }
}