$fence-cleaning-140kb: 'img/fence-cleaning-01/140kb';
$s3-bucket: 'https://rns-static-and-media-files.s3.amazonaws.com/static';

// Fence Cleaning
.card-background-fence-cleaning.show-image {
  @media (min-width: 0px) {
    background-image:                   url('#{$s3-bucket}/#{$fence-cleaning-140kb}/1x-fence-cleaning-01-320.jpg');
    background-image: -webkit-image-set(url('#{$s3-bucket}/#{$fence-cleaning-140kb}/1x-fence-cleaning-01-320.webp') 1x, url('#{$s3-bucket}/#{$fence-cleaning-140kb}/2x-fence-cleaning-01-320.webp') 2x);  
    background-image:         image-set(url('#{$s3-bucket}/#{$fence-cleaning-140kb}/1x-fence-cleaning-01-320.jpg') 1x, url('#{$s3-bucket}/#{$fence-cleaning-140kb}/2x-fence-cleaning-01-320.jpg') 2x);
  }
  @media (min-width: 576px) {
    background-image:                   url('#{$s3-bucket}/#{$fence-cleaning-140kb}/1x-fence-cleaning-01-576.jpg');
    background-image: -webkit-image-set(url('#{$s3-bucket}/#{$fence-cleaning-140kb}/1x-fence-cleaning-01-576.webp') 1x, url('#{$s3-bucket}/#{$fence-cleaning-140kb}/2x-fence-cleaning-01-576.webp') 2x);  
    background-image:         image-set(url('#{$s3-bucket}/#{$fence-cleaning-140kb}/1x-fence-cleaning-01-576.jpg') 1x, url('#{$s3-bucket}/#{$fence-cleaning-140kb}/2x-fence-cleaning-01-576.jpg') 2x);
  }
  @media (min-width: 768px) {
    background-image:                   url('#{$s3-bucket}/#{$fence-cleaning-140kb}/1x-fence-cleaning-01-768.jpg');
    background-image: -webkit-image-set(url('#{$s3-bucket}/#{$fence-cleaning-140kb}/1x-fence-cleaning-01-768.webp') 1x, url('#{$s3-bucket}/#{$fence-cleaning-140kb}/2x-fence-cleaning-01-768.webp') 2x);  
    background-image:         image-set(url('#{$s3-bucket}/#{$fence-cleaning-140kb}/1x-fence-cleaning-01-768.jpg') 1x, url('#{$s3-bucket}/#{$fence-cleaning-140kb}/2x-fence-cleaning-01-768.jpg') 2x);
  }
}