.contact-text {
  & ul {
    list-style-type: none;
  }
}

h1 {
  margin-top: 0;
  text-align: center;
}

section {
  background-color: #fafafa;
  box-sizing: border-box;
  min-height: calc(100vh - 64px);
  padding: calc(1rem + 1vw);
}